.wrapper{
    
    width: 100%;
}
.header{
background-color: #000000;
    height: 115px;
    
}
.wrapper_content{
    width: 80%;
    margin: 0 auto;
}
.nav_menu{
  padding-top: 14px;
    
}
.main_menu{
position: relative;

}

.main_menu>ul>li{
    float: left;
}
.main_menu>ul>li>a{
display: inline-block;
font-size: 1.375rem;
padding: 0px 30px;
line-height: 72px;
color: #ffffff

}
.fa-chevron-down{
font-size: 1rem;
margin-left: .32px;
opacity: .6;
}


.sub_menu{
    position: absolute;
    clear: left;
    height: auto;
}

.sub_menu>li{
    border-bottom: 1px solid #000000;
    background-color:#ffffff;
    width: 208px;
     display: none;
     z-index: 1;
     
} 
.sub_menu>li>a{
    display: inline-block;
    line-height: 38px;
    font-size: 1.3rem;
    padding-left: 23px;
    color:#000000;
}
    
.main_menu ul li:hover .sub_menu>li{
    display: block;
    
}
.sub_menu>li:hover{
    background-color:#cac5c5;
}

.sub_menu>li:hover>a{
    color: #0f0d95;
    transition: all 0.2s;
}

/* ------*/
ul.sub_menu>li{
    position: relative;
}
ul.child_menu{
    position: absolute;   
    top: 0;
    left: 209px;
}
ul.child_menu>li{
    border-bottom: 1px solid #000000;
    background-color:#ffffff;
    width: 208px;
    display: none;
}
ul.child_menu>li>a{
    display: inline-block;
    line-height: 38px;
    font-size: 1.3rem;
    padding-left: 23px;
    color:#000000;
}
ul.sub_menu>li:hover ul.child_menu>li{
    display: block;
}
.child_menu>li:hover{
    background-color:#cac5c5;
}
.child_menu>li:hover>a{
    color: #0f0d95;
    transition: all 0.2s;
}

/* ------------form search */
.search{
    padding-top: 22px;
}
.search>input{
    line-height: 25px;
}
/* --------------------------notify---------------- */
.main_menu ul>li{
    position: relative;
}
ul.notify{
  
    position: absolute;
    width: 404px;
    top: 56px;
    right: -6px;
    display: none; 
}
ul.notify>li{
    background-color:#ffffff;
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin: calc(100% - 20px) top ;
    animation: notify ease-in 0.2s;
    /* display: none; */
}
.notify::before{
    content: "";
    border-width: 12px 14px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: -24px;
    right: 18px;
}
.notify h3{
    color: #999999;
    font-weight: 400;
    font-size: 0.875rem;
    margin: 0 0 0 12px;
    line-height: 40px;
    cursor: text;
}

@keyframes notify{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
ul.notify>li:hover {
    background-color:#cac5c5 ;
}

.main_menu ul>li:hover .notify{
    display: block;
   
    
}



.notify-link{
    width: 100%;
    
    padding: 12px;
    display: flex;
   

}
.notify-img{
    width: 48px;
    object-fit: contain;

}
.notify-info{
    margin-left: 12px;
    

}
.notify-name{
    display: block;
    font-size: 0.875rem;
    color: #000000;
    font-weight: 400;
    line-height: 18px;


}
.notify-description{
    display: block;
    font-size: 0.75rem;
    color: #808080;
    line-height: 16px;
    margin-top: 4px;
}
.notify-footer{
    text-align: center;
    
}
/* -------- -----------------------------------------*/
.grid__row{
position: relative;
margin-top: 28px;

}
.nav_bar{

}
.main_nav_bar{
position: absolute;
}
ul.main_nav_bar li{
    position: relative;
    border-bottom: 1px solid #808080;
    background-color: #ffffff;
    width: 190px;
}
ul.main_nav_bar>li>h3{
    text-align: center;
    background-color: #535459;
    line-height: 50px;
}

.sub_nav_bar{
    position: absolute;


}
ul.sub_nav_bar>li{
    /* left: 20px; */
    
}
ul.sub_nav_bar>li>a{
    position: relative;
    
    color: #000000;
    line-height: 40px;
    font-size: 1.3rem;
    right: 0;
    transition: right linear 0.1s;
}
.behind{
 top: 240px;
}
/* ul.sub_nav_bar li:hover{
    background-color: #9096b6;
    transition: all 0.3s;
} */
ul.sub_nav_bar li:hover a {
color:#0f0d95 ;
right: -8px;

}
/* --------- */
.derection_link{
    display: flex;
    margin-left: 90px;
}
ul.derection_link>li{
    border-radius: 10px;
border: 1px solid #000000;
background-color:#0920c8 ;
margin-right: 20px;
}
ul.derection_link>li>a{
    line-height: 36px;
    padding: 3px 31px;
    color: #ffffff;
}
ul.derection_link>li:hover {
    background-color: #5a6eff;
}
/* --------------------- */
.product{
    position: relative;
    border: 1px solid #939393;
    padding: 2px;
   
    
}

.product_detail{
    position: absolute;
    font-size: 1rem;
    display: none ;
}

.product:hover .product_detail{
    display: block;
    z-index: 1;
    transform: scale(1,1);

}
.product:hover{
    background-color: rgba(36,35 , 34, 0.78);
}
.product:hover .product_img-active{
    transform: scale(1.2);
}

.product_discount{
    width: 84px;
    height: auto;
    color: white;
    font-size: 1rem;
    background-image: linear-gradient(#cf981c, #cf0c0c);
    border-radius: 5px;
    z-index: 0;

}


.product_img{
   
   object-fit: contain;
   
}
.product_img-active{
    object-fit: contain;
    width: 131px;
    height: 203px;
    transition-duration: 0.5s;
}
.product_img a{
    text-decoration: none;
    color: gray;
    font-size: 1rem;
}

.product_img p{
    font-size: 1rem;
    color: red;
}

.product_button{
    background-color: orange;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    width: 80px;
    height: 32px;
    margin: 5px 0 14px 44px;
    border-radius: 11px;
    border: none;
}
