*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.wrapper{
    
    width: 100%;
}
.wrapper_content{
    width: 80%;
    margin: 0 auto;
}
/* ---------chia layout 12 cot---------- */
.col-1{
	width: 6.333333333%;
	float: left;
	margin:0 1%;
}
.col-2{
	width: 14.66666667%;
	float: left;
	margin:0 1%;
}
.col-3{
	width: 23%;
	float: left;
	margin:0 1%;
}
.col-4{
	width: 31.33333333%;
	float: left;
	margin:0 1%;
}
.col-5{
	width: 39.66666667%;
	float: left;
	margin:0 1%;
}
.col-6{
	width: 48%;
	float: left;
	margin:0 1%;
}
.col-7{
	width: 56.33333333%;
	float: left;
	margin:0 1%;
}
.col-8{
	width: 64.66666667%;
	float: left;
	margin:0 1%;
}
.col-9{
	width: 73%;
	float: left;
	margin:0 1%;
}
.col-10{
	width: 81.33333333%;
	float: left;
	margin:0 1%;
}
.col-11{
	width: 89.66666667%;
	float: left;
	margin:0 1%;
}
.col-12{
	width: 98%;
	float: left;
	margin:0 1%;
}
/* ------------------------ */
